
@{
    ViewData["Title"] = "VerifiedMsg";
}
<h1>Welcome  @TempData["username"] !!!</h1>
<h2 style="color:red;text-align:center">Thankyou for registering on Tourist.......</h2>
<h3>@ViewBag.msg</h3>
<h3>Your Account will be verified shortly.</h3>
