
@{
    ViewData["Title"] = "BookTrip";
    Layout = "~/Views/Shared/User_layout.cshtml";
}

<link rel="stylesheet" href="~/css/BookTrip.css" asp-append-version="true" />
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet'>

@model BookTrip
<div class="home-content">
   
        
            <div id="booking" class="section">
                <div class="section-center">
                    <div class="container">
                        <div class="row">
                            <div class="booking-form">
                                <div class="form-header">
                                    <h1>Book My Trip</h1>
                                </div>
                                <form action="BookingSubmit" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                        <input class="form-control" asp-for="nameOfPackage" type="text" placeholder="Name of package" readonly>
                                                <span class="form-label">Package</span>
                                             </div>
                                         </div>
                                        <div class="col-md-6">
                                        <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Email here" asp-for="email" readonly>
                                            <span class="form-label">Email</span>
                                        </div>
                                    </div>
                                <div class="col-md-6" hidden>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="User Id" asp-for="user_id" readonly>
                                        <span class="form-label">User Id</span>
                                    </div>
                                </div>
  
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" asp-for="booking_date" type="date" required >
                                                <span class="form-label">Booking Date</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" asp-for="checkin" type="date" required>
                                                <span class="form-label">Check In</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control"asp-for="checkout" type="date" required>
                                                <span class="form-label">Check out</span>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                        <input class="form-control" asp-for="persons" type="text" placeholder="Persons" readonly>
                                                <span class="form-label">No of Persons</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                        <input class="form-control" asp-for="price" type="text" placeholder="Rate" readonly>
                                                <span class="form-label">Amount</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                        <input class="form-control" asp-for="duration" type="text" placeholder="Duration" readonly>
                                                <span class="form-label">Duration</span>
                                            </div>
                                        </div>
                                <div class="col-md-3" hidden>
                                    <div class="form-group">
                                        <input class="form-control" asp-for="pack_id" type="text" placeholder="Duration">
                                        <span class="form-label">Package Id</span>
                                    </div>
                                </div>
                                <div class="col-md-3" hidden>
                                    <div class="form-group">
                                        <input class="form-control" asp-for="username" type="text" placeholder="Username">
                                        <span class="form-label">Username</span>
                                    </div>
                                </div>
                                    </div>
                                    <div class="form-btn">
                                <button class="submit-btn" type="submit" value="book">Book Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
   